[submodule "Lecture 11/Algorithm Timing/GUI"]
	path = Lecture 11/Algorithm Timing/GUI
	url = https://github.com/cs106bx/MiniGUI
[submodule "Lecture 12/SortTiming/GUI"]
	path = Lecture 12/SortTiming/GUI
	url = https://github.com/cs106bx/MiniGUI
[submodule "Lecture 22/Binary Search Trees/TreeDrawing"]
	path = Lecture 21/Binary Search Trees/TreeDrawing
	url = https://github.com/htiek/TreeDrawing
[submodule "Lecture 23/Binary Search Trees II/TreeDrawing"]
	path = Lecture 22/Binary Search Trees II/TreeDrawing
	url = https://github.com/htiek/TreeDrawing
[submodule "Lecture 23/Random BSTs/TreeDrawing"]
	path = Lecture 22/Random BSTs/TreeDrawing
	url = https://github.com/htiek/TreeDrawing
[submodule "Lecture 23/Range Searches/TreeDrawing"]
	path = Lecture 22/Range Searches/TreeDrawing
	url = https://github.com/htiek/TreeDrawing
